h1 {
  text-align: center;
}
.card-body h4 {
  font-weight: bold;
  color: rgb(19, 19, 155);
}
.card-container {
  display: flex;
  max-width: 990px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  max-width: 300px;
  padding: 10pt;
}
.img {
  max-width: 100%;
  height: auto;
}
