h1 {
  text-align: center;
  padding: 20pt;
}
.card {
  margin-bottom: 5pt;
}
.contents h2 {
  padding: 10pt;
}
.card-body h4 {
  font-weight: bold;
  color: rgb(19, 19, 155);
}
.card-container {
  display: flex;
  max-width: 900px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  max-width: 400px;
  padding: 10pt;
}
.img {
  max-width: 100%;
  height: auto;
}
h5 {
  padding: 10pt;
  margin-bottom: 10pt;
}
